<div class="page-heading">
    <h3>
        Jalsa
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">Jalsa</a>
        </li>
        <li class="active"> Salana </li>
    </ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel" data-ng-init="loadJalsa()">
                <header class="panel-heading">
                    {{jalsa.jalsaName}} - Day {{dayId}}
                </header>
                <div class="panel-body">
                    <!--{{daysDiff(jalsa.startDate, jalsa.endDate)}}-->
                    <ul>
                        <li ng-repeat="day in totalDays"><i class="fa fa-calendar"></i>&nbsp;&nbsp;<a ng-href="/jamat/jalsa/{{jalsaId}}/{{$index +1}}">{{day}}</a></li>
                    </ul>

                    <div id="dvPrint">
                        <table class="display table table-bordered table-striped" id="tblTajneedAll">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>Name</th>
                                    <th>Ansar</th>
                                    <th>Khudam</th>
                                    <th>Atfal</th>
                                    <th>Lajnaat</th>
                                    <th>Nasarat</th>
                                    <th>Child</th>
                                    <th>Country</th>
                                    <th>Region</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="isBusy">
                                    <td colspan="10">
                                        <div class="progress progress-striped active">
                                            <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-info">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr ng-repeat="day in jalsaDays">
                                    <td>{{$index + 1}}</td>
                                    <td><b>{{day.fmailyPersonName}}</b></td>
                                    <td><b><label class="badge badge-yellow">{{day.ansar}}</label></b></td>
                                    <td><label class="badge badge-info">{{day.khuddam}}</label></td>
                                    <td><label class="badge badge-warning">{{day.atfal}}</label></td>
                                    <td><label class="badge badge-success">{{day.lajnaat}}</label></td>
                                    <td><label class="badge badge-red">{{day.nassrat}}</label></td>
                                    <td><label class="badge badge-important">{{day.child}}</label></td>
                                    <td>{{day.countryDetail.countryName}}</td>
                                    <td>{{day.regionDetail.regionName}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="background-color:darkgrey; color:azure;font-size: large;">
                                    <td colspan="3">Totals :</td>
                                    <td>{{ansars}}</td>
                                    <td>{{khudams}}</td>
                                    <td>{{atfals}}</td>
                                    <td>{{nasarats}}</td>
                                    <td>{{lajnas}}</td>
                                    <td>{{childs}}</td>
                                    <td><label class="badge badge-inverse">{{grands}}</label></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
