<div class="page-heading">
    <h3>
        Tajneed
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">Tajneed</a>
        </li>
        <li>
            <a href="/jamat/tajneed"> Listing </a>
        </li>
        <li class="active">Add New</li>
    </ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel" data-ng-init="loadTajneed()">
                <header class="panel-heading">
                    Add New Tajneed
                </header>
                <div class="panel-body">
                    <form class="form-horizontal" id="frmTajneed" name="frmTajneed" novalidate role="form" ng-submit="save(tajneed)">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tFirstName" class="col-lg-4 col-sm-4 control-label">Salutation :</label>
                                <div class="col-lg-6">
                                    <select type="text" class="form-control" ng-model="tajneed.salutation" id="tSalutation" name="tSalutation" required>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                    </select>
                                    <div class="help-block" ng-show="frmTajneed.tSalutation.$error.required && frmTajneed.tSalutation.$dirty">*</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tFirstName" class="col-lg-4 col-sm-4 control-label">First Name :</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.firstName" id="tFirstName" name="tFirstName" placeholder="First Name" required>
                                    <div class="help-block" ng-show="frmTajneed.txtCode.$error.required && frmTajneed.txtCode.$dirty">Please enter code !</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tLastName" class="col-lg-4 col-sm-4 control-label">Middle Name :</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.middleName" id="tMiddleName" name="tMiddleName" placeholder="Middle Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tLastName" class="col-lg-4 col-sm-4 control-label">Last Name :</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.lastName" id="tLastName" name="tLastName" placeholder="Last Name" required>
                                    <div class="help-block" ng-show="frmTajneed.txtCode.$error.required && frmTajneed.txtCode.$dirty">Please enter code !</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cCountryId" class="col-lg-4 col-sm-4 control-label">Country :</label>
                                <div class="col-lg-6">
                                    <select class="form-control" ng-model="tajneed.countryId" id="cCountryId" name="cCountryId" ng-init="loadCountry()" ng-options="Country.countryId as Country.countryName for Country in Countries" required></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="cAuxilary" class="col-lg-4 col-sm-4 control-label">Auxilary :</label>
                                <div class="col-lg-6">
                                    <select class="form-control" id="cAuxilary" ng-model="tajneed.auxilaryId" name=" cauxilary" ng-model="employeeDef.postedTo" ng-init="loadAuxilary()" ng-options="Auxilary.id as Auxilary.nameEn for Auxilary in Auxilaries" required></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tResidentNo" class="col-lg-4 col-sm-4 control-label">Resident No :</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.residentNumber" id=" tresidentno" name="tResidentNo" placeholder="Resident No">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tMobile" class="col-lg-4 col-sm-4 control-label">Mobile Phone :</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.mobileNumber" id=" tmobile" name="tMobile" placeholder="Mobile">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tCurrentAddress" class="col-lg-4 col-sm-4 control-label">Current Address :</label>
                                <div class="col-lg-6">
                                    <textarea class="form-control" ng-model="tajneed.currentAddress" id=" tcurrentaddress" name="tCurrentAddress" placeholder="Current Address"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="chkMosi" class="col-lg-4 col-sm-4 control-label">Is Mosi :</label>
                                <div class="col-lg-6 slide-toggle">
                                    <input type="checkbox" class="js-switch" ng-model="tajneed.isMosi" id=" chkmosi" name="chkMosi" ng-true-value="1" ng-false-value="0" />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tFatherName" class="col-lg-4 col-sm-4 control-label">Father Name:</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.fatherName" id=" tfathername" name="tFatherName" placeholder="Father Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tFatherName" class="col-lg-4 col-sm-4 control-label">Husband Name:</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.husbandName" id=" thusbandname" name="thusbandname" placeholder="Husband Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tDOB" class="col-lg-4 col-sm-4 control-label">DOB :</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.birthDate" id=" tdob" name="tDOB" datepicker placeholder="Date of Birth" required="">
                                    <div class="help-block" ng-show="frmTajneed.txtCode.$error.required && frmTajneed.txtCode.$dirty">Please enter code !</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cNationality" class="col-lg-4 col-sm-4 control-label">Nationality :</label>
                                <div class="col-lg-6">
                                    <select class="form-control" ng-model="tajneed.nationalityId" id=" cnationality" name="cNationality" ng-init="loadNationality()" ng-options="Nationality.id as Nationality.nameEn for Nationality in Nationalities" required></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cRegionId" class="col-lg-4 col-sm-4 control-label">Region :</label>
                                <div class="col-lg-6">
                                    <select class="form-control" ng-model="tajneed.regionId" id="cRegionId" name="cRegionId" ng-init="loadRegionsByCountryId(tajneed.countryId)" ng-options="Regions.regionid as Region.regionName for Region in Regions" required></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tPassportNo" class="col-lg-4 col-sm-4 control-label">Passport No :</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.passportNumber" id=" tpassportno" name="tPassportNo" placeholder="Passport No">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tHomePhone" class="col-lg-4 col-sm-4 control-label">Home Phone :</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.homeNumber" id=" thomephone" name="tHomePhone" placeholder="Home Phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tBusinessPhone" class="col-lg-4 col-sm-4 control-label">Business Phone :</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.businessNumber" id=" tbusinessphone" name="tBusinessPhone" placeholder="Business Phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tPermanentAddress" class="col-lg-4 col-sm-4 control-label">Permanent Address :</label>
                                <div class="col-lg-6">
                                    <textarea class="form-control" ng-model="tajneed.permanentAddress" id=" tpermanentaddress" name="tPermanentAddress" placeholder="Permanent Address"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tWassiyatNo" class="col-lg-4 col-sm-4 control-label">Wassiyat No :</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" ng-model="tajneed.wassiyatNumber" id=" twassiyatno" name="tWassiyatNo" placeholder="Wassiyat No">
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-primary" ng-disabled="frmTajneed.$invalid"><i class="fa fa-save"></i>  Save</button>
                                <button class="btn btn-primary"><i class="fa fa-undo"></i> Cancel</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </section>

        </div>

    </div>

</div>
